.container1 {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.container1 .box1:nth-child(1) {
    background-color: #f4eb49;
    width: 20%;
}

.container1 .box1:nth-child(2) {
    width: 79%;
    background-color: #f76424;
}

.box1 {
    height: 100px;
}

.container2 {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.container2 .box2:nth-child(1) {
    background-color: #aedd94;
    width: 20%;
    
}

.container2 .box2:nth-child(2) {
    width: 58%;
    background-color: #cac8c8;
    
}

.container2 .box2:nth-child(3) {
    width: 20%;
    background-color: #4dd7fa;
}

.box2 {
    height: 400px;
}

.bottombox {
    width: 100%;
    height: 100px;
    background-color: #0026ff;
    margin-top: 15px;
}
