.carousel-item img {
  max-width: 100%;
  max-height: 400px;
  margin: 0 auto;
}

/* posisikan breadcrumb di tengah */
.navbar + .breadcrumb {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* jadikan breadcrumb sebagai block element agar lebih mudah dicentang */
.breadcrumb {
  display: block;
}

/* buat navbar tetap di atas dan breadcrumb berada di bawahnya */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
}
